<!-- <p>forms works!</p>

<div class="container">
    template driven form
    <div class="row">
       
        <div class="col-md-6">
            <form #loginForm="ngForm" (ngSubmit)="userlogin(loginForm.value)">
                <input type="text" placeholder="name" name="name" ngModel>
                <br><br>
                <input type="email" placeholder="email" name="email" ngModel>
                <br><br>
                <input type="text" placeholder="password" name="password"  ngModel>
                <br>
                <button>Login</button>
               
            </form>
        </div>

        
    </div>
</div> -->
<div class="container mt-5">
    <form class="example-form" [formGroup]="RForm" (ngSubmit)="onformsubmit()">

        <h1>Reactive Forms</h1>
        <table class="example-full-width" cellspacing="0">
            <small *ngIf="RForm.get('firstname').errors?.['required'] &&  RForm.get('firstname').touched">*First name is a Required Field</small>
            <small *ngIf="RForm.get('firstname').errors?.['NoSpace']  &&  RForm.get('firstname').touched">*No space is allowed in Field</small>
            <tr>
                <td><mat-form-field class="example-full-width">
                        <mat-label>First name</mat-label>
                        <input matInput formControlName="firstname">
                    </mat-form-field></td>
                <td><mat-form-field class="example-full-width">
                        <mat-label> Last Name </mat-label>
                        <input matInput formControlName="lastname">
                    </mat-form-field></td>
            </tr>
        </table>
        <p>
            <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input matInput placeholder="" value="" formControlName="email">

            </mat-form-field>
        </p>
        <p>
            <mat-form-field class="example-full-width">
                <mat-label>phone</mat-label>
                <input matInput placeholder="" value="" formControlName="phone">

            </mat-form-field>
        </p>
        <p><label for="">Gender</label>
            <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="male">Male</mat-radio-button>
                <mat-radio-button value="female">Female</mat-radio-button>
                <mat-radio-button value="other">Other</mat-radio-button>
            </mat-radio-group>
        </p>

        <div class="form-group input" formGroupName="address">
            <mat-form-field class="example-full-width">
                <mat-label>Address1</mat-label>
                <input matInput placeholder="Ex. 100 Main St" formControlName="add1">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Address 2</mat-label>
                <input matInput formControlName="add2">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>City</mat-label>
                <input matInput placeholder="Ex. San Francisco" formControlName="city">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>State</mat-label>
                <input matInput placeholder="Ex. California" formControlName="state">
            </mat-form-field>
            <small *ngIf="RForm.get('address.pincode').hasError('pattern')">
                Pin code must be 6 digits.
              </small>
              <small *ngIf="RForm.get('address.pincode').hasError('invalidPincode')">
                Invalid Pin Code. Please enter a valid pin code.
              </small>

              
              
            <mat-form-field class="example-full-width">
                <mat-label>Postal Code</mat-label>
                <input matInput placeholder="" value="" formControlName="pincode">

            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Country</mat-label>
                <input matInput placeholder="" value="" formControlName="country">

            </mat-form-field>
        </div>

        <!-- <table class="example-full-width" cellspacing="0"><tr>
          
        </table> -->
        <button mat-raised-button color="primary" type="submit" value="submit">Submit</button>
    </form>
</div>