<app-form></app-form>

<h1 class="text-center ">App main componenet</h1>
<!-- <app-navbar></app-navbar> -->
<div class="nav d-flex  justify-content-around  container ">

  <a routerLink="" class="fw-bold text-info  nav-link">Home</a>
  <a routerLink="about" class="fw-bold text-info  nav-link">about</a>
  <a routerLink="user" class="fw-bold text-info  nav-link">user</a>
</div>
<router-outlet></router-outlet>
<div class="container">


<h3 class="text-danger text-center ">this is exmaple of interpolation and my name is {{name}}</h3>
 FirstName :<input type="text" value={{name}}> this  is the example of interpolation
<br>
 surname: <input type="text" [value]="surname"> this is the exampole of property binding
 <br>

 <br><button (click)="showalert()">Subscribe to Simplilearn</button> thisis an example of event binding by on click method
 <br>
  <br>
  <input type="text"[(ngModel)]="fillname"> {{fillname}}
<h1 *ngIf="show; then ifBlock else elseBlock">example for if-else</h1>
<br>
<br>
 <ng-template #ifBlock>
  <h3 class="text-success">if condition is runningas show is true</h3>
 </ng-template>

 <ng-template #elseBlock>
 <h3 class="text-danger">else condition is runningas show is false</h3> 
 </ng-template>

<h1>pipes</h1>
<h4>{{todaysdate | date}}</h4> this example of datepipeline
<h4>{{todaysdate | date:"fullDate"}}</h4> this example of datepipeline

<h4>{{data | uppercase}}</h4> example of uppercase pipes 
<h4>{{data | lowercase}}</h4> lowercase piples

<h4>{{fullname | slice:1:5}}</h4> this is slice pipline example


<h4>{{user| json}}</h4> this is example of JSON Pipes

<h4>{{20 | currency:'USD'}}</h4>
<h4>{{20 | currency:'INR'}}</h4>
<h4>{{20 | currency:'GBP'}}</h4>

<h4>{{2000.4000 | number:'2.2'}}</h4>
  
<ng-template #show>
  <h1>hello this is template directives</h1>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia similique soluta deleniti perspiciatis quo nostrum eveniet officia tempora eaque nam!</p>
</ng-template>

<!-- <ng-template *ngTemplateOutlet="show"></ng-template> -->

<!-- ngfor -->
<h1> for loop in anguklar </h1>
<li *ngFor="let item of list">{{item}}</li>


<div [ngSwitch]="color">
<h1 *ngSwitchCase="'red'" style="color: red;">red color</h1>
<h1 *ngSwitchCase="'blue'" style="color: blue;">blue color</h1>
<h1 *ngSwitchCase="'pink'" style="color: pink;">pink color</h1>
<h1 *ngSwitchCase="'gold'" style="color: gold;">ygold color</h1>
<h1 *ngSwitchCase="'green'" style="color: green;">green color</h1>
<h1 *ngSwitchCase="'yellow'" style="color: yellow;">yellow color</h1>
</div>

<p>ng- container exampkle</p>
<ng-container *ngIf="toggle; else toggleof">
<h1>toggle is on </h1>
</ng-container>

<ng-template #toggleof>
  <h1>toggle is off </h1>
  </ng-template>
 <!-- <ng-template *ngTemplateOutlet="toggle"></ng-template>  -->
<button (click)="gettoggle()">toggle</button>

<app-forms></app-forms>
</div>